<html ng-app="WebGLVolumeRendererClient">

<head>
    <title>titul</title>
    <link type="text/css" rel="stylesheet" href="css/all.css">
    <link type="text/css" rel="stylesheet" href="semantic/dist/semantic.min.css">
</head>

<body>
    <div ng-controller="master-controller as mc">
        <div id="links-and-views-view" ng-controller="links-and-views as lvwc">
            <table class="ui unstackable celled table">
                <thead>
                    <tr>
                        <th>
                            <div class="ui icon buttons">
                                <button class="tiny button" ng-click='addView()'>
                                    <i class="window restore icon green"></i>Add
                                </button>
                                <button class="tiny button" ng-click='removeView()'>
                                    <i class="window close outline icon red"></i>Delete
                                </button>
                            </div><br> {{addViewText}}
                        </th>
                        <th>
                            <img class="lvw-header-images" src="images/icons/slicer-and-sphere.png"><br>
                            <div class="ui icon buttons">
                                <button class="ui button" ng-click="setLinkerState('SLICER_SPHERE', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                                <button class="ui button" ng-click="setLinkerState('SLICER_SPHERE', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                            </div>
                            <br> {{getLinkerState('SLICER_SPHERE')}}

                        </th>
                        <th>
                            <img class="lvw-header-images" src="images/icons/camera-icon.png"><br>
                            <div class="ui icon buttons">
                                <button class="ui button" ng-click="setLinkerState('CAMERA', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                                <button class="ui button" ng-click="setLinkerState('CAMERA', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                            </div>
                            <br> {{getLinkerState('CAMERA')}}
                        </th>
                        <th>
                            <img class="lvw-header-images" src="images/icons/spotlight-icon.png"><br>
                            <div class="ui icon buttons">
                                <button class="ui button" ng-click="setLinkerState('LIGHTS', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                                <button class="ui button" ng-click="setLinkerState('LIGHTS', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                            </div>
                            <br> {{getLinkerState('LIGHTS')}}
                        </th>
                        <th>
                            <img class="lvw-header-images" src="images/icons/graph-icon.png"><br>
                            <div class="ui icon buttons">
                                <button class="ui button" ng-click="setLinkerState('TRANSFER_FUNCTION', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                                <button class="ui button" ng-click="setLinkerState('TRANSFER_FUNCTION', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                            </div>
                            <br> {{getLinkerState('TRANSFER_FUNCTION')}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div id="lvw-add-view"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-1"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-2"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-3"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-4"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="viewport-splitter-container" style="width: 300px; height: 300px">
        </div>
        <div id="links-controller"></div>
        <div id="local-control-panel"></div>
        <div id="webgl-canvas-container">
            <canvas id="webgl-canvas">
        </canvas>
        </div>
        <div id="global-control-panel"></div>
        <script src="main-compiled.js"></script>
    </div>
</body>

</html>
