@import url("links-and-views-view.css");
@import url("tf-editor.css");
@import url("volume-view-manager.css");
#local-control-panel {
    float: left;
    width: 0%;
    height: 100vh;
    background-color: green;
}

#global-control-panel {
    width: 35%;
    height: 100vh;
    float: right;
}

#webgl-canvas-container,
.webgl-canvas {
    width: 65%;
    height: 100vh;
    background-color: white;
}


/* TF VIEW STUFF! */
