/* Layout of the links view below */

#links-and-views-view {
    width: 97.5%;
    padding-right: 0.5%;
    height: 180px;
}

.view-splitter-cell {}

.view-splitter-buttons-list {
    width: 30%;
    float: left;
    height: 80%;
}

.view-splitter-button {}

.view-splitter-button.selected {}

.split-view-widget {
    display: inline-block;
    width: 70%;
    height: 80%;
}


/* Internal layout of the view splitter below */

.viewport-splitter-box-basic {
    background-color: blue;
    border: thick black solid;
    opacity: 1;
}

.miniature-splitview-rect {
    fill-opacity: 0.5;
    background-color: black;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.halfRect {
    z-index: -5;
    border-color: black;
    color: black;
    stroke: black;
}

.linker-line {
    stroke-width: 3px;
}

.lvw-header-images {
    width: 50px;
    height: 25px;
    align-content: center;
}

/* Style of cells that are master cells of link group
 *  (i.e all other cells inherit the property from them)
 */
.linkgroup-master-cell {
    filter: url('#linkgroup-master-cell-filter22');
}
