.tf-editor-container {
    position: relative;
    width: 100%;
}

.tf-editor-background-canvas {
    opacity: 1;
    position: absolute;
    width: 100%;
}

.tf-editor-svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.tf-controls-container {

}

.tf-display-options-container {
    display: inline-block;
    width: 50%;
    position: relative;
    top: -15%;
}

.tf-gmag-curv-sliders-container {
    position: relative;
    top: -11%;
    display: inline-block;
    width: 50%;
}

.tf-top-controls-container {
    width: 100%;
    height: 195px;
}

.tf-display-options-checkbox>label {
    margin-top: 3px !important;
}

sm-accordion-group>.content.active {
    padding: 0;
}

#global-control-panel>tf-widget>div>div>div>div.nine.wide.column>div>div,
#global-control-panel>tf-widget>div>div>div>div.seven.wide.column>div {
    height: 195px;
}

.tf-editor-container {
    width: 100%;
    height: 200px;
}

.tf-d3-container,
.tf-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tf-canvas {}

.tf-splineline {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}

.tf-controlpoint {
    fill: #fff;
    fill-opacity: .2;
    cursor: move;
}

.tf-controlpoint.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}

.tf-editor-event-listener-rect {}

.tf-editor-3d-selection-histogram-group {}

.tf-editor-full-histogram-group {}

.tf-editor-tf-view-group {}

.tf-editor-color-gradient-axis {
    fill-opacity: 1;
    border: thin gainsboro solid;
    stroke-width: 2px;
    stroke: black;
}


/*color picker!*/

.tf-editor-color-picker-container {
    position: absolute;
    z-index: 1;
}

g.tf-editor-axis-isovalue>g>text,
g.tf-editor-axis-opacity>g>text {
    fill-opacity: 1;
}

.tf-editor-axis-isovalue {}

.tf-editor-axis-opacity {}

.tf-editor-3d-selection-histogram-line {
    stroke-width: 0.3px;
    stroke: black;
    stroke-opacity: 0.8;
}

.tf-editor-3d-selection-histogram-area {
    fill: yellow;
    fill-opacity: 1;
}

.tf-editor-histogram-line {
    stroke-width: 0.5px;
    stroke: black;
    stroke-opacity: 0.9;
}

.tf-editor-histogram-area {
    fill: red;
    fill-opacity: 1;
}

.tf-editor-control-point {
    fill-opacity: 0.7;
    stroke: black;
    stroke-opacity: 0.8;
    stroke-width: 1.5px;
}

.tf-editor-control-point.selected {
    fill-opacity: 1;
    fill: red;
    stroke: black;
    stroke-width: 2.5px;
}

.tf-editor-color-gradient-control-points {
    fill-opacity: 1;
}


/* Fill opacity is 0 for all these */

.tf-editor-svg-container,
.tf-editor-event-listener-rect,
.tf-editor-3d-selection-histogram-group,
.tf-editor-full-histogram-group,
.tf-editor-tf-view-group,
.tf-editor-axis-isovalue,
.tf-editor-axis-opacity {
    fill-opacity: 0;
}
