.viewport-splitter-box-basic {
    background-color: blue;
    border: thick black solid;
    opacity: 1;
}

.miniature-splitview-rect {
    fill-opacity: 0.5;
    background-color: black;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.halfRect {
    z-index: -5;
    border-color: black;
    color: black;
    stroke: black;
}

.linker-line {
    stroke-width:3px;
}
