<div class="ui grid container">
    <!-- TOP CONTAINER START -->
    <div class="row">
        <div class="ui padded grid">
            <div class="seven wide column">
                <div class="ui segment">
                    <!-- TF DISPLAY OPTIONS -->
                    <center>Show...</center>
                    <sm-checkbox
                                 class="tf-display-options-checkbox"
                                 model="displayOptions.showHistogram"
                                 label="Histogram"
                                 >
                    </sm-checkbox>
                    <sm-checkbox
                                 class="tf-display-options-checkbox"
                                 model="displayOptions.showHistogramSelection"
                                 label="Selection">
                    </sm-checkbox>
                    <sm-checkbox
                                 class="tf-display-options-checkbox"
                                 model="displayOptions.showTransferFunction"
                                 label="Transfer Function">
                    </sm-checkbox>

                    <sm-checkbox
                                 class="tf-display-options-checkbox"
                                 model="displayOptions.zoomInOnSelection"
                                 label="Zoom Selection"
                                 enabled="false">
                    </sm-checkbox>

                </div>
            </div>
            <div class="nine wide column">

                <div class="segment float right">
                    <div class="ui segment">
                        <!-- G-mag / Curvature weighting on opacity -->
                        <rzslider rz-slider-model="gradientMagSlider.weighting"></rzslider>
                        <center>Surface Weighting</center>
                        <br>
                        <rzslider rz-slider-model="curvatureSlider.weighting"></rzslider>
                        <center>Curvature Weighting</center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TOP CONTAINER END -->

    <!-- INTERACTION MODE SELECTION START -->
    <div>
        <div class="ui segment">
            <div class="ui form">
                <div class="inline fields">
                    <label>TF Interaction Mode</label>
                    <div class="field">
                        <sm-radio name="iMode" model="interactionMode" enabled="false" label="Select" value="1">
                    </div>
                    <div class="field">
                        <sm-radio name="iMode" model="interactionMode" label="Edit Transfer Function" value="2">
                    </div>
                    <button class="ui primary button" ng-click="renderTFEditor()">
                        render()
                    </button>
                    <button class="ui primary button" ng-click="clearTFEditor()">
                        _clear()
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- INTERACTION MODE SELECTION END -->

    <!-- THE TRANSFER FUNCTION EDITOR START -->

    <div style="width:100%">
        <div class="tf-editor-container ng-id-{{$id}}">
            <div class="tf-editor-color-picker-container ng-id-{{$id}}">
                <input type='text'/>
            </div>

            <!--svg class="tf-editor-svg-main ng-id-{{$id}}">
                <rect class="tf-editor-event-listener-rect ng-id-{{$id}}"></rect>
                <g class="tf-editor-selection-histogram ng-id-{{$id}}"></g>
                <canvas class="tf-canvas ng-id-{{$id}}"></canvas>
            </svg-->
            <!--div class="tf-d3-container ng-id-{{$id}}"></div-->
        </div>
    </div>

    <p>Histogram: {{displayOptions.showHistogram}}</p>
    <p>TF: {{displayOptions.showTransferFunction}}</p>
    <p>Selection: {{displayOptions.showSelection}}</p>
    <p>Gradient Magnitude: {{gradientMagSlider.weighting}}</p>
    <p>Curvature Weighting: {{curvatureSlider.weighting}}</p>
    <p>Interaction Mode: {{getInteractionMode()}}</p>
</div>
