<div id="links-and-views-view" class="">
    <div class="ui celled grid">
        <div class="six column row">
            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="clone icon"></i>
                    </div>
                    <button class="ui button view-splitter-button id-0" ng-click='addView()' ng-class="{green : MainViewMode == 'ADD'}">
                                            <i class="large plus square outline icon"></i>

                    </button>
                    <button class="ui button view-splitter-button id-0" ng-click='removeView()' ng-class="{red : MainViewMode == 'REMOVE'}">

                                            <i class="large trash icon"></i>
                    </button>
                    <!--<button class="ui button view-splitter-button id-0" ng-click='changeView()' ng-class="{blue : MainViewMode == 'EDIT'}"><i class="large icon edit"></i></button>-->
                </div>
                <div id="lvw-add-view" class="split-view-widget"></div>
            </div>

            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="area chart icon"></i>
                    </div>


                    <button class="ui button view-splitter-button id-1-on" ng-click="setLinkerState(1, 'LINK-ADD')" ng-class="getAddLinkerColor(1)">
                        <i class="large linkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-1-off" ng-click="setLinkerState(1, 'LINK-REMOVE')" ng-class="getRemoveLinkerColor(1)">
                        <i class="large unlinkify icon"></i>
                    </button>

                    <button class="ui button view-splitter-button id-1 set-global" ng-click="toggleGlobal(1)" ng-class="{blue: isGlobal[1]}" data-tooltip="Use global (Note: This will NOT erase local settings)" data-position="left below">
                        <i class="large world icon"></i>
                    </button>


                </div>
                <div id="lvw-link-view-1" class="split-view-widget"></div>
            </div>

            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="cube icon"></i>
                    </div>
                    <button ng-class="getAddLinkerColor(2)" class="ui button view-splitter-button id-2-on" ng-click="setLinkerState(2, 'LINK-ADD')">
                    <i class="large linkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-2-off" ng-click="setLinkerState(2, 'LINK-REMOVE')" ng-class="getRemoveLinkerColor(2)">
                            <i class="large unlinkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-2 set-global" ng-click="toggleGlobal(2)" ng-class="{blue: isGlobal[2]}" data-tooltip="Use global (Note: This will NOT erase local settings)" data-position="left below">
                        <i class="large world icon"></i>
                    </button>
                </div>
                <div id="lvw-link-view-2" class="split-view-widget"></div>
            </div>

            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="photo icon"></i>
                    </div>
                    <button ng-class="getAddLinkerColor(3)" class="ui button view-splitter-button id-3-on" ng-click="setLinkerState(3, 'LINK-ADD')">
                    <i class="large linkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-3-off" ng-click="setLinkerState(3, 'LINK-REMOVE')" ng-class="getRemoveLinkerColor(3)">
                                                <i class="large unlinkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-3 set-global" ng-click="toggleGlobal(3)" ng-class="{blue: isGlobal[3]}" data-tooltip="Use global (Note: This will NOT erase local settings)" data-position="left below">
                        <i class="large world icon"></i>
                    </button>


                </div>
                <div id="lvw-link-view-3" class="split-view-widget"></div>
            </div>

            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="yellow certificate icon"></i>
                    </div>
                    <button class="ui button view-splitter-button id-4-on" ng-click="setLinkerState(4, 'LINK-ADD')" ng-class="getAddLinkerColor(4)">
                    <i class="large linkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-4-off" ng-click="setLinkerState(4, 'LINK-REMOVE')" ng-class="getRemoveLinkerColor(4)">                        <i class="large unlinkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-4 set-global" ng-click="toggleGlobal(4)" ng-class="{blue: isGlobal[4]}" data-tooltip="Use global (Note: This will NOT erase local settings)" data-position="left below">
                        <i class="large world icon"></i>
                    </button>

                </div>
                <div id="lvw-link-view-4" class="split-view-widget"></div>
            </div>

            <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <div class="ui grey label">
                        <i class="options icon"></i>
                    </div>
                    <button class="ui button view-splitter-button id-4-on" ng-click="setLinkerState(5, 'LINK-ADD')" ng-class="getAddLinkerColor(5)">
                    <i class="large linkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-5-off" ng-click="setLinkerState(5, 'LINK-REMOVE')" ng-class="getRemoveLinkerColor(5)">                        <i class="large unlinkify icon"></i>
                    </button>
                    <button class="ui button view-splitter-button id-5 set-global" ng-click="toggleGlobal(5)" ng-class="{blue: isGlobal[5]}" data-tooltip="Use global (Note: This will NOT erase local settings)" data-position="left below">
                        <i class="large world icon"></i>
                    </button>

                </div>
                <div id="lvw-link-view-5" class="split-view-widget"></div>
            </div>

            <!-- <div class="column view-splitter-cell">
                <div class="ui left floated vertical buttons view-splitter-buttons-list">
                    <button class="ui button view-splitter-button id-5-on" ng-click="setLinkerState(5, 'LINK-ADD')">+</button>
                    <button class="ui button view-splitter-button id-5-off" ng-click="setLinkerState(5, 'LINK-REMOVE')">-</button>

                </div>
                <div id="lvw-link-view-5" class="split-view-widget"></div>
            </div>-->
        </div>
    </div>

    <!--table class="ui unstackable celled table">
        <thead>
            <tr>
                <th>
                    <center>{{addViewText}}</center>
                    <div class="ui icon left floated buttons">
                        <button class="tiny button" ng-click='addView()'>
                                    <i class="window restore icon green"></i>Add
                                </button>
                        <button class="tiny button" ng-click='removeView()'>
                                    <i class="window close outline icon red"></i>Delete
                                </button>
                    </div>
                    <div class="ui vertical divider">

                    </div>
                    <div id="lvw-add-view"></div>
                </th>
                <th>
                    <img class="lvw-header-images" src="images/icons/slicer-and-sphere.png"><br>
                    <div class="ui icon buttons">
                        <button class="ui button" ng-click="setLinkerState('SLICER_SPHERE', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                        <button class="ui button" ng-click="setLinkerState('SLICER_SPHERE', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                    </div>
                    <br> {{getLinkerState('SLICER_SPHERE')}}
                    <div id="lvw-link-view-1"></div>
                </th>
                <th>
                    <img class="lvw-header-images" src="images/icons/camera-icon.png"><br>
                    <div class="ui icon buttons">
                        <button class="ui button" ng-click="setLinkerState('CAMERA', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                        <button class="ui button" ng-click="setLinkerState('CAMERA', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                    </div>
                    <br> {{getLinkerState('CAMERA')}}
                    <div id="lvw-link-view-2"></div>
                </th>
                <th>
                    <img class="lvw-header-images" src="images/icons/spotlight-icon.png"><br>
                    <div class="ui icon buttons">
                        <button class="ui button" ng-click="setLinkerState('LIGHTS', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                        <button class="ui button" ng-click="setLinkerState('LIGHTS', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                    </div>
                    <br> {{getLinkerState('LIGHTS')}}
                    <div id="lvw-link-view-3"></div>
                </th>
                <th>
                    <img class="lvw-header-images" src="images/icons/graph-icon.png"><br>
                    <div class="ui icon buttons">
                        <button class="ui button" ng-click="setLinkerState('TRANSFER_FUNCTION', 'LINK-ADD')">
                                <i class="add icon"></i>
                                <i class="linkify icon"></i>

                            </button>
                        <button class="ui button" ng-click="setLinkerState('TRANSFER_FUNCTION', 'LINK-REMOVE')">
                                <i class="minus icon"></i>
                                <i class="linkify icon"></i>
                                    </button>
                    </div>
                    <br> {{getLinkerState('TRANSFER_FUNCTION')}}
                    <div id="lvw-link-view-4"></div>
                </th>
            </tr>
        </thead>
        <!--
                <tbody>
                    <tr>
                        <td>
                            <div id="lvw-add-view"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-1"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-2"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-3"></div>
                        </td>
                        <td>
                            <div id="lvw-link-view-4"></div>
                        </td>
                    </tr>
                </tbody>

    </table-->
</div>
