<div class="tf-controls-container">
    <!-- TOP CONTAINER START -->

    <!-- TOP CONTAINER END -->

    <!-- INTERACTION MODE SELECTION START -->
    <div class="tf-editor-interaction-mode-container">

        <center class="widget-centered-h1">Interaction Mode</center>
        <div class="inline fields">
            <div class="field">
                <sm-radio name="iMode" model="interactionMode" enabled="false" label="Histogram" value="1">
            </div>
            <div class="field">
                <sm-radio name="iMode" model="interactionMode" label="Transfer Function" value="2">
            </div>
        </div>
    </div>
    <!--           <div>
        <div class="ui segment">
            <div class="ui form">
                <div class="inline fields">
                    <label>TF Interaction Mode</label>
                    <div class="field">
                        <sm-radio name="iMode" model="interactionMode" enabled="false" label="Select" value="1">
                    </div>
                    <div class="field">
                        <sm-radio name="iMode" model="interactionMode" label="Edit Transfer Function" value="2">
                    </div>
                    <button class="ui primary button" ng-click="renderTFEditor()">
                        render()
                    </button>
                    <button class="ui primary button" ng-click="clearTFEditor()">
                        _clear()
                    </button>
                </div>
            </div>
        </div>
    </div>-->
    <!-- INTERACTION MODE SELECTION END -->

    <!-- THE TRANSFER FUNCTION EDITOR START -->

    <div style="width:100%">
        <div class="tf-editor-container ng-id-{{$id}}">
            <div class="tf-editor-color-picker-container ng-id-{{$id}}">
                <input type='text' />
            </div>

            <!--svg class="tf-editor-svg-main ng-id-{{$id}}">
                <rect class="tf-editor-event-listener-rect ng-id-{{$id}}"></rect>
                <g class="tf-editor-selection-histogram ng-id-{{$id}}"></g>
                <canvas class="tf-canvas ng-id-{{$id}}"></canvas>
            </svg-->
            <!--div class="tf-d3-container ng-id-{{$id}}"></div-->
        </div>
    </div>
    <div class="tf-top-controls-container">
        <div class="tf-display-options-container">
            <!-- TF DISPLAY OPTIONS -->
            <center class="widget-centered-h2">Show...</center>
            <div>
                <div style="float: left">
                    <sm-checkbox class="tf-display-options-checkbox" model="displayOptions.showHistogram" label="Histogram">
                    </sm-checkbox><br>
                    <sm-checkbox class="tf-display-options-checkbox" model="displayOptions.showHistogramSelection" label="Selection">
                    </sm-checkbox><br>
                </div>
                <div style="float: right">
                    <sm-checkbox class="tf-display-options-checkbox" model="displayOptions.showTransferFunction" label="Transfer Function">
                    </sm-checkbox><br>
                    <sm-checkbox class="tf-display-options-checkbox" model="displayOptions.show3DSelectionHistogram" label="3D Sel. Histogram" enabled="false">
                    </sm-checkbox>
                </div>
            </div>
        </div>

        <div class="tf-gmag-curv-sliders-container widget-bottom-element">
            <!-- G-mag / Curvature weighting on opacity -->
            <div>
                <rzslider class="custom-slider" rz-slider-model="gradientMagSlider.weighting" style="width: 48%"></rzslider>
                <rzslider class="custom-slider" rz-slider-model="curvatureSlider.weighting" style="width: 48%"></rzslider>
            </div>
            <span style="float: left">Gradient Magnitude<br>Weighting</span>
            <span style="float: right">Curvature Weighting</span>
            <br><br>
            <div>
                <rzslider class="custom-slider"
                          rz-slider-model="thresholdSlider.minValue"
                          rz-slider-high="thresholdSlider.maxValue"
                          rz-slider-options="thresholdSlider.options">
                </rzslider>
                <br>
                <center style="">Isovalue min/max threshold</center>
            </div>
        </div>

    </div>
    <!--DEBUG ONLY-->
    <!--
    <p>Histogram: {{displayOptions.showHistogram}}</p>
    <p>TF: {{displayOptions.showTransferFunction}}</p>
    <p>Selection: {{displayOptions.showSelection}}</p>
    <p>show3DSelectionHistogram: {{displayOtions.show3DSelectionHistogram}}</p>
    <p>Gradient Magnitude: {{gradientMagSlider.weighting}}</p>
    <p>Curvature Weighting: {{curvatureSlider.weighting}}</p>
    <p>Interaction Mode: {{getInteractionMode()}}</p>
-->
</div>
